<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink routerLink="/">Home</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/products">Produits</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/login">Login</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/shopping-cart">Panier</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/my-orders">Mes commandes</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/order-success">Order success</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/checkout">Checkout</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/admin/products">Manage Products</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/admin/orders">Manage Orders</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="#">logout</a>
  </li>
</ul>

<router-outlet></router-outlet>
